allow hal_fingerprint_default mobicore:unix_stream_socket connectto;
allow hal_fingerprint_default mobicore_user_device:chr_file rw_file_perms;
allow hal_fingerprint_default sysfs:file rw_file_perms;
allow hal_fingerprint_default mobicore_data_file:dir search;
allow hal_fingerprint_default mobicore_data_file:file { open read getattr };
allow hal_fingerprint_default uhid_device:chr_file rw_file_perms;
